<div class="container">
    <div class="row">
        <div class="col s12">
            {{!-- <form id="searchForm" action="/search" method="post">
                <div class="input-field">
                    <input id="search" type="text" name="symptom" class="white grey-text" value="{{searchTerm}}" placeholder="Search Symptom" requireds>
                </div>
                <button type="submit" class="btn">Search</button>
            </form> --}}
            <div class="input-field">
                <input id="search-input" type="text" name="symptom" class="white grey-text" value="{{searchTerm}}" placeholder="Search Symptom" requireds>
            </div>
            <button id="search" type="submit" class="btn">Search</button>
        </div>
    </div>
</div>